form {
    display: flex;
    flex-direction: column;
}

h2 {
    color: azure;
    background: black;
}

div {
    margin: 0 3px 5px 0;
}

#submit {
    position: relative;
    left: 25%;
    background: rgb(27, 114, 196);
    color: white;
    border: 0;
    padding: 5px 15px;
}