body{
    background: blue;
}
.box_one-blue{
    margin-right: 10px;
    width: 500px;
    background: yellow;
}
.box_one{
    height: 150px;
}
.box_one-yellow{
    width: 200px;
    background:rgb(2, 2, 49);
}
.block_one{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.box_two-blue{
    width: 300px;
    height: 200px;
    background: rgb(2, 2, 49);
    margin-right: 10px;
}
.box_two-pink{
    width: 400px;
    background-color: rgb(238, 32, 67);
    height: 95px;
}
.box_two-yellow{
    width: 400px;
    background-color:yellow;
    height: 95px;
    margin-top: 10px;
}
.block_two{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.block_three{
    display: flex;
    align-items: flex-start;
    justify-content: center; 
    color: beige;
    font-weight: bold;
    font-size: 150px;
    position: relative;
    top:-100px;
}
.box{
    display: flex;
    width: 100%;
    height: 1000px;
    flex-direction: column;
    justify-content: center;
}